<!DOCTYPE html>
<html>
  <head>
    <title>Clone-Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="static/prism.css" rel="stylesheet" />
    <link href="static/collect.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="container" style="border-radius: 5px; margin-top: 10px; margin-left: 25px; width: 1300px; height: 50px; background-color: hsla(24, 20%, 50%,.3)">
      
      <form action="#" method="POST">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div class="row" style="margin-top: 10px">
                  <div class="col-sm-3 col-md-3 col-lg-3">
                      <input type="submit" class="btn btn-danger btn-sm " id="fat-btn" name = "Prev" value="Prev">
                  </div>
                  
                  <div class="col-sm-4 col-md-4 col-lg-4">
                      <input class="form-control" id="clone-pair" type="text" name="clone_pair" value="{{clone_pair+' / 85'}}" disabled>
                  </div>
                   
                  <div class="col-sm-3 col-md-3 col-lg-3">
                      <input type="submit" class="btn btn-primary btn-sm " id="fat-btn" name = "Next" value="Next">
                  </div>
              </div>
            </div>
            <div class="col-sm-1 col-md-1 col-lg-1">

            </div>
            <div class="col-sm-2 col-md-2 col-lg-2">
              <h4 align="center" style="margin-top: 15px;"> Is it a clone ? </h4>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2" style="margin-top: 7px">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-primary">
                    <input type="radio" name="Is_Clone" id="option1" autocomplete="off" value="clone"> Yes
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="Not_Clone" id="option2" autocomplete="off" value="not_clone"> No
                  </label>
                </div>
            </div>
        </div>
      </form>
    </div>

    {% for messaged in get_flashed_messages() %}

      <div class="container">
        <div class="alert alert-warning alert-dismissible fade in">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Warning!</strong> Please make the choice first
        </div>
      </div>
    {% endfor %}
    
    <div class="container" style="margin: 10px; width: 1330px">
        
      <div style="height:520px; width:640px; float:left; margin-right: 20px; overflow-y:scroll; overflow-x: scroll">
        <pre class="line-numbers" data-line="{{lines[0]}}-{{lines[1]}}" style="width: 350%; font-size: 12.5px"><code class="language-java">
            {{contents}}
          </code></pre>
      </div>
      <div style="height:520px; width:640px; float:left; overflow-y:scroll; overflow-x: scroll">
          <pre class="line-numbers" data-line="{{lines[2]}}-{{lines[3]}}" style="width: 350%; font-size: 12.5px"><code class="language-java">
              {{contents1}}
            </code></pre>
      </div>

    </div>

    <div class="container" style="border-radius: 5px; margin-top: 10px; margin-left: 25px; width: 1300px; height: 50px; background-color: hsla(24, 20%, 50%,.3)">
      <div class="row" style="margin-top: 10px">
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6>File 1 = {{info[0]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6>Functionality ID = {{info[2]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
            <h6>File 2 = {{info[1]}}</h6>
          </div>
          <div class="col-sm-3 col-md-3 col-lg-3" align = "center">
              <input type="button" class="btn btn-danger btn-sm " id="fat-btn" name = "Logout" value="Logout" onclick="window.location.href = '/logout'">
          </div>
      </div>  

    </div>
    <script src="static/prism.js"></script>
  </body>

</html>